/* :root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
} */

.prescription-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  border-color: red;

}

.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
  margin-bottom: -5px
  
}

.prescription-details {
  flex: 1
}
.side-effect-button{
  margin-top: -10px

}

.pill-navbar {
  background-color: transparent 
}

.brand-text {
  margin-right: 10px
}

.pill-emoji {
  width: 30px;
  height: 40px;
} 

.stamp {
  display: inline-block;
  padding: 8px 12px;
  background-color: #4caf50; /* Green background color, you can customize this */
  color: #fff; /* White text color */
  border-radius: 5px;
  border: 1px solid #4caf50; /* Matching border color */
  font-weight: bold;
}

.stamp-text {
  font-size: 14px;
}
