:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

/* In your CSS file */
.prescription-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px; /* Adjust the margin as needed for spacing between list items */
}

.button-group {
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
  gap: 4px;
  margin-bottom: -5px; /* Add margin-bottom to move the button group downward */
  
}

.prescription-details {
  flex: 1; /* Take remaining space */
}
.side-effect-button{
  margin-top: -10px; /* Add margin-bottom to move the button group downward */

}